button,
input {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.form-container {
  // justify-content: center;
  text-align: center;
}

form {
  * {
    font-size: 1.5rem;
    justify-content: center;
    padding: 0 0.5rem;
    margin: 2rem 0 1rem 0;
  }

  .label {
    font-family: $title-font;
    font-size: 1.5rem;
    color: $subtitle-color;
    &-dark {
      color: $subtitle-color-dark;
    }
  }
  .btn {
    font-family: $title-font;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    color: $input-color;
    background-color: $btn-color;
    &:hover {
      background-color: $btn-hover-color;
    }
    &:focus {
      color: $btn-focus-text;
      background-color: $btn-focus-color;
    }
    &-dark {
      color: $input-color-dark;
      background-color: $btn-color-dark;
      &:hover {
        background-color: $btn-hover-color-dark;
      }
      &:focus {
        color: $btn-focus-text-dark;
        background-color: $btn-focus-color-dark;
      }
    }
  }
  .text-input {
    border-radius: 10rem;
    font-family: $list-font;
    background-color: $input-color;
    &:focus {
      outline: none;
      border: 2px solid $text-color;
      color: $subtitle-color;
    }
    &-dark {
      background-color: $input-color-dark;
      &:focus {
        border-color: $text-color-dark;
        color: $subtitle-color-dark;
      }
    }
  }
}

.checkbox {
  ///CHECK HOW TO CHANGE CHECKBOXES BECAUSE THIS DOESNT CHANGE THEIR BORDER RADIUS OR REMOVE BORDER
}
