button,
input {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.form-container {
  text-align: center;
}

.edit-form {
  * {
    font-size: 1.5rem;
    margin: 0 0.25rem;
  }
  textarea {
    border: none;
    height: 100px;
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    flex-direction: row;
    width: 90%;
  }
}

.shopping-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  justify-content: center;
  * {
    font-size: 1.5rem;
    margin: 0 0.25rem;
  }
  @media only screen and (min-width: 600px) {
    flex-direction: row;
    margin: 2rem 0;
  }
}
.input-container {
  display: flex;
  padding: 1rem;
}
.label {
  font-family: $title-font;
  color: $subtitle-color;
  &-dark {
    color: $subtitle-color-dark;
  }
}
.input-save-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 4rem;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1rem;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

@mixin text-input-style {
  font-family: $list-font;
  background-color: $input-color;
  color: $subtitle-color;
  &:focus,
  &:-webkit-autofill {
    -webkit-text-fill-color: $subtitle-color;
    -webkit-box-shadow: 0 0 0 100px $input-color inset;
    box-shadow: 0 0 0 100px $input-color inset;
    outline: none;
    border: 2px solid $text-color;
  }
  &-dark {
    background-color: $input-color-dark;
    color: $text-color-dark;
    &:focus,
    &:-webkit-autofill {
      -webkit-text-fill-color: $subtitle-color-dark;
      -webkit-box-shadow: 0 0 0 100px $input-color-dark inset;
      box-shadow: 0 0 0 100px $input-color-dark inset;
      border-color: $text-color-dark;
    }
  }
}
.text-input {
  border-radius: 10rem;
  @include text-input-style();
  width: 100%;
  @media only screen and (min-width: 600px) {
    width: initial;
  }
}
.amount-input {
  max-width: 45px;
}
.edit-input {
  border-radius: 1.5rem;
  padding: 1rem;
  @include text-input-style();
}

@mixin btn-style {
  border-radius: 10rem;
  padding: 0.25rem 0.75rem;
  color: $input-color;
  background-color: $btn-color;
  &:hover {
    background-color: $btn-hover-color;
  }
  &:focus {
    color: $btn-focus-text;
    background-color: $btn-focus-color;
  }
  &-dark {
    color: $input-color-dark;
    background-color: $btn-color-dark;
    &:hover {
      background-color: $btn-hover-color-dark;
    }
    &:focus {
      color: $btn-focus-text-dark;
      background-color: $btn-focus-color-dark;
    }
  }
  @media only screen and (min-width: 600px) {
    padding: 0.5rem 1rem;
  }
}
.btn {
  font-family: $title-font;
  @include btn-style();
}
.btn-2 {
  font-family: $subtitle-font;
  font-size: 1.5rem;
}
.reset-btn {
  display: block;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.edit-input {
  height: 150px;
}
.bottom-btns {
  justify-content: center;
  gap: 1.5rem;
  display: flex;
  * {
    font-size: 1.125rem;
  }
}
