button,
input {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.form-container {
  // justify-content: center;
  text-align: center;
}

form {
  * {
    font-size: 1.5rem;
    justify-content: center;
    padding: 0 0.5rem;
    margin: 2rem 0 1rem 0;
  }
  label {
    font-family: $title-font;
    font-size: 1.5rem;
    color: $subtitle-color;
  }
  .btn {
    font-family: $title-font;
    color: $input-color;
    background-color: $btn-color;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $btn-hover-color;
    }
    &:focus {
      color: $btn-focus-text;
      background-color: $btn-focus-color;
    }
  }
}
.text-input {
  background-color: $input-color;
  border-radius: 10rem;
  font-family: $list-font;
  &:focus {
    outline: none;
    border: 2px solid $text-color;
    color: black;
    color: $subtitle-color;
  }
}
.checkbox {
  ///CHECK HOW TO CHANGE CHECKBOXES BECAUSE THIS DOESNT CHANGE THEIR BORDER RADIUS OR REMOVE BORDER
}
