//margins and stuff?
$space-size: (1, 2, 3, 4, 5);

@each $value in $space-size {
  .my-#{$value} {
    margin: #{$value}rem 0;
  }
  .mx-#{$value} {
    margin: 0 #{$value}rem;
  }
  .py-#{$value} {
    padding: #{$value}rem 0;
  }
  .px-#{$value} {
    padding: 0 #{$value}rem;
  }
}

$max-width: (3, 4, 5, 6);

@each $value in $max-width {
  .mw-#{$value} {
    max-width: #{$value}00px;
    margin: auto;
  }
}

li {
  margin: 0.5rem 0;
}

.position-container {
  max-width: 600px;
  margin: auto;
}
