.my-1 {
  margin: 1rem 0;
}
.mx-1 {
  margin: 0 1rem;
}
.px-1 {
  padding: 0 1rem;
}

$max-width: (3, 4, 5, 6);

@each $value in $max-width {
  .mw-#{$value} {
    max-width: #{$value}00px;
    margin: auto;
    box-sizing: border-box;
  }
}

li {
  margin: 0.5rem 1rem;
}

.position-container {
  max-width: 600px;
  margin: auto;
}
