@import "config"; //night mode
@import "mobile"; // breakpoints
@import "utilities"; //margins
@import "forms"; //btns and inputs

.body {
  background-color: $bg-color;
  &-dark {
    background-color: $bg-color-dark;
  }
}
.header-container {
  background-color: $header-color;
  &-dark {
    background-color: $header-color-dark;
  }
}
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: $title-font;
  font-size: 3rem;
  color: $title-color;
  &-dark {
    color: $title-color-dark;
  }
}

@mixin subtitle-style {
  font-family: $subtitle-font;
  border-bottom: $border-style;
  color: $subtitle-color;
  &-dark {
    color: $subtitle-color-dark;
    border-color: $header-color-dark;
  }
}

.subtitle {
  font-size: 2rem;
  border-top: $border-style;
  @include subtitle-style();
}
.edit-subtitle {
  font-size: 3rem;
  @include subtitle-style();
}
.link {
  font-family: $list-font;
  text-decoration: none;
  color: $text-color;
  &-dark {
    color: $text-color-dark;
  }
}
