@import "config"; //colors and icons
@import "utilities"; //margins and padding classes
@import "forms"; //btns and inputs

.body {
  background-color: $bg-color;
  &-dark {
    background-color: $bg-color-dark;
  }
}
.header-container {
  padding: 1rem 0;
  background-color: $header-color;
  &-dark {
    background-color: $header-color-dark;
  }
  @media only screen and (min-width: 600px) {
    padding: 2rem 0;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  @media only screen and (min-width: 600px) {
    padding: 0;
  }
}

.logo {
  font-family: $title-font;
  font-size: 2rem;
  color: $title-color;
  &-dark {
    color: $title-color-dark;
  }
  @media only screen and (min-width: 600px) {
    font-size: 3rem;
  }
}
.pending-container,
.in-cart-container {
  margin-bottom: 2rem;
}

@mixin subtitle-style {
  font-family: $subtitle-font;
  border-bottom: $border-style;
  font-size: 2rem;
  padding: 0.625rem;
  color: $subtitle-color;
  &-dark {
    color: $subtitle-color-dark;
    border-color: $header-color-dark;
  }
  @media only screen and (min-width: 600px) {
    padding: 1rem 0;
  }
}

.subtitle {
  border-top: $border-style;
  @include subtitle-style();
}
.edit-subtitle {
  margin: 2rem 0;
  @include subtitle-style();
  @media only screen and (min-width: 600px) {
    margin: 3rem 0;
    font-size: 3rem;
  }
}
.confirm-subtitle {
  @include subtitle-style();
}
.link {
  font-family: $list-font;
  text-decoration: none;
  color: $text-color;
  font-size: 1.125rem;
  &-dark {
    color: $text-color-dark;
  }
}

.no-items {
  font-family: $subtitle-font;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: lighten(desaturate($text-color, 50%), 20%);
  &-dark {
    color: darken(desaturate($text-color-dark, 25%), 40%);
  }
}
.delete-confirmation {
  position: fixed;
  background-color: $confirmation-background;
  padding: 2rem;
  display: flex;
  width: 70%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    padding: 1.5rem 0;
  }
  .btn-container {
    display: flex;
    gap: 2rem;
    .btn {
      font-size: 1.125rem;
    }
  }
  &-dark {
    background-color: $confirmation-bg-color-dark;
  }
}
.hidden {
  display: none;
}
